{% extends "base.html" %}
{% load static %}
{% block title %} Portfolio {% endblock %}
{% block description %}Annie Jefferson's Portfolio{% endblock %}
{% block javascript %}
<script async src="//cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<script src="{% static "js/iscrollconfig.js" %}"></script>
<script async src="{% static "js/deffer-img.js" %}"></script>
{% endblock %}
{% block content %}
<div class="iscroll-wrapper">
	<div class="iscroller">
		<div class="upper-stream">
			{% for picture in page.upper_stream_picture_posts  %}
			<div class="post post-{{picture.picture_thumbnail_size}}">
				<img data-src="{{picture.picture_url}}" alt="{{picture.title}}" />
			</div>
			{% endfor %}
		</div>
		<div class="lower-stream">
			{% for picture in page.lower_stream_picture_posts %}
			<div class="post post-{{picture.picture_thumbnail_size}}">
				<img data-src="{{picture.picture_url}}" alt="{{picture.title}}" />
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% comment %}
{% for picture_post in page.all_picture_posts %}
  <p>
    TITLE: {{picture_post.title}}
  </p>
  <p>
    MEDIUM: {{picture_post.medium}}
  </p>
  <p>
    DESCRIPTION: {{picture_post.description}}
  </p>
  {% if picture_post.has_price %}
  <p>
    PRICE: {{picture_post.price}}
  </p>
  {% endif %}
  {% if picture_post.has_dimensions %}
  <p>
    DIMENSION: {{picture_post.dimensions}}
  </p>
  {% endif %}
  <p>
    PICTURE
  </p>
  <img data-src="{{picture_post.picture_url}}" alt="" />
  <hr>

{% endfor %}
{% endcomment %}

{% endblock %}
