{% extends "base.html" %}
{% load static %}
{% load cdn %}
{% block title %} Portfolio {% endblock %}
{% block description %}Annie Jefferson's Portfolio{% endblock %}
{% block javascript %}
<script async src="{% cdn_url 'iscroll' %}"></script>
<script src="{% static "js/iscrollconfig.js" %}"></script>
<script async src="{% static "js/deffer-img.js" %}"></script>
<script src="{% static "js/bundle.js" %}"></script>
<script src="{% static "js/center-img.js" %}"></script>
{% endblock %}
{% block content %}
<div class="iscroll-wrapper">
	<div class="iscroller stream-js">
		<div class="upper-stream">
			{% for picture in page.upper_stream_picture_posts  %}
			<div class="post post-{{picture.picture_thumbnail_size}}">
				<img data-index={{picture.index}} data-src="{{picture.picture_url}}" alt="{{picture.title}}" />
			</div>
			{% endfor %}
		</div>
		<div class="lower-stream">
			{% for picture in page.lower_stream_picture_posts %}
			<div class="post post-{{picture.picture_thumbnail_size}}">
				<img data-index={{picture.index}} data-src="{{picture.picture_url}}" alt="{{picture.index}}" />
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="modal">
	<div class="modal-content">
		<div class="arrow-container arrow-container-left arrow-container-left-js">
			{% include "../widgets/arrow.html" with direction="left" %}
		</div>
		<div class="arrow-container arrow-container-right arrow-container-right-js">
			{% include "../widgets/arrow.html" with direction="right" %}
		</div>
		<div class="carousel">
			{% for picture_post in page.all_picture_posts %}
			<div class="post-container">
				<div class="post-img-container">
					<img data-index="{{picture.index}}" src="{{picture_post.picture_url}}" alt="{{picture_post.title}}"/>
				</div>
				<div class="post-detail-container">
					<div class="post-detail-left-col">
						<h4>{{picture_post.title}}</h4>
						<p>{{picture_post.description}}</p>
					</div>
					<div class="post-detail-right-col">
						{% if picture_post.has_dimensions %}
						<p>{{picture_post.dimensions}}</p>
						{% endif %}
						<p>{{picture_post.medium}}</p>
						{% if picture_post.has_price %}
						<p>{{picture_post.price}}</p>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
