{% extends "base.html" %}
{% load static %}
{% block title %} Portfolio {% endblock %}
{% block description %}Annie Jefferson's Portfolio{% endblock %}
{% block javascript %}
<script async src="{% static "js/deffer-img.js" %}"></script>
{% endblock %}
{% block content %}
<h1>Picture Stream</h1>
{% for picture_post in page.all_picture_posts %}
  <p>
    TITLE: {{picture_post.title}}
  </p>
  <p>
    MEDIUM: {{picture_post.medium}}
  </p>
  <p>
    DESCRIPTION: {{picture_post.description}}
  </p>
  {% if picture_post.has_price %}
  <p>
    PRICE: {{picture_post.price}}
  </p>
  {% endif %}
  {% if picture_post.has_dimensions %}
  <p>
    DIMENSION: {{picture_post.dimensions}}
  </p>
  {% endif %}
  <p>
    PICTURE
  </p>
  <img data-src="{{picture_post.picture_url}}" alt="" />
  <hr>

{% endfor %}
{% endblock %}
