{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="Alex McCallum">
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -->
    <link rel="stylesheet" title="raleway" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <!-- JS -->
    {% block javascript %}{% endblock %}
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

</html>
