{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="Alex McCallum">
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -->
    <link rel="stylesheet" title="raleway" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="{% static "css/app.min.css" %}">
  </head>

  <body onload="loaded()">
    <header class="container">
      <div class="row">
        <a href="{% url 'home' %}"><h1 class="logo">Annie Jefferson</h1></a>
      </div>
      <nav class="row">
        <ul>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'blog_stream' %}">Blog</a></li>
          <li><a href="{% url 'picture_stream' %}">Portfolio</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>
        Created by Alex McCallum &#9829;
      </p>
    </footer>
    <!-- JS -->
    {% block javascript %}{% endblock %}
  </body>

</html>
